In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("../data/raw/notes_epl.csv")
df.head()

,ID_Etudiant,Nom,Prenom,Departement,Grade,Annee_etude,Filière,Code_UE,Nom_UE,Code_Matiere,...,Enseignant,Note_Devoir,Note_Examen,Note_Finale,Reussite,Date_Devoir,Date_Examen,Session,Coefficient_Devoir,Coefficient_Examen
0,ETU0001,Laroche,Jérôme,Génie Informatique,Licence professionnelle,3,IA et Big Data,INF2403,Big Data Technologies,1INF2403,...,Josette Normand,0.0,3.9,2.3,False,2025-09-24,2025-12-01,Principale,0.4,0.6
1,ETU0001,Laroche,Jérôme,Génie Informatique,Licence professionnelle,3,IA et Big Data,INF2403,Big Data Technologies,2INF2403,...,Luce Pineau,3.0,1.8,2.3,False,2025-08-16,2025-11-26,Principale,0.4,0.6
2,ETU0001,Laroche,Jérôme,Génie Informatique,Licence professionnelle,3,IA et Big Data,INF2403,Big Data Technologies,3INF2403,...,Emmanuel-Grégoire Marion,0.0,0.0,0.0,False,2025-07-26,2025-11-26,Principale,0.4,0.6
3,ETU0001,Laroche,Jérôme,Génie Informatique,Licence professionnelle,3,IA et Big Data,INF2401,Intelligence Artificielle,1INF2401,...,Aurélie Boulay,0.0,0.6,0.4,False,2025-06-22,2025-11-12,Principale,0.4,0.6
4,ETU0001,Laroche,Jérôme,Génie Informatique,Licence professionnelle,3,IA et Big Data,INF2401,Intelligence Artificielle,2INF2401,...,Arthur-Martin Mahe,1.3,0.0,0.5,False,2025-10-08,2025-12-10,Principale,0.4,0.6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14899 entries, 0 to 14898
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Etudiant         14899 non-null  object
 1   Nom                 14899 non-null  object
 2   Prenom              14899 non-null  object
 3   Departement         14899 non-null  object
 4   Grade               14899 non-null  object
 5   Annee_etude         14899 non-null  int64
 6   Filière             14899 non-null  object
 7   Code_UE             14899 non-null  object
 8   Nom_UE              14899 non-null  object
 9   Code_Matiere        14899 non-null  object
 10  Matiere             14899 non-null  object
 11  Enseignant          14899 non-null  object
 12  Note_Devoir         14899 non-null  float64
 13  Note_Examen         14899 non-null  float64
 14  Note_Finale         14899 non-null  float64
 15  Reussite            14899 non-null  bool
 16  Date_Devoir         14899 non-null  object
 17  Date_Examen         14899 non-null  object
 18  Session             14899 non-null  object
 19  Coefficient_Devoir  14899 non-null  float64
 20  Coefficient_Examen  14899 non-null  float64
dtypes: bool(1), float64(5), int64(1), object(14)
memory usage: 2.3+ MB

In [4]:
df.describe(include='float').T

                      count      mean           std  min  25%  50%   75%   max
Note_Devoir         14899.0  9.744312  5.212853e+00  0.0  6.0  9.7  13.5  20.0
Note_Examen         14899.0  9.761461  5.464567e+00  0.0  5.7  9.7  13.7  20.0
Note_Finale         14899.0  9.754359  5.016659e+00  0.0  6.1  9.7  13.4  20.0
Coefficient_Devoir  14899.0  0.400000  0.000000e+00  0.4  0.4  0.4   0.4   0.4
Coefficient_Examen  14899.0  0.600000  1.110260e-16  0.6  0.6  0.6   0.6   0.6

In [5]:
df.describe(include='object').T

              count unique                    top   freq
ID_Etudiant   14899   2000                ETU1999      9
Nom           14899    395                Blondel     91
Prenom        14899    215               Nathalie    157
Departement   14899      4     Génie Informatique   4386
Grade         14899      5   Licence Fondamentale   3711
Filière       14899     20           Géotechnique   1017
Code_UE       14899     60                CIV2301    341
Nom_UE        14899     60     Mécanique des Sols    341
Code_Matiere  14899    180               1CIV2303    138
Matiere       14899    180  Contraintes efficaces    122
Enseignant    14899     30  Célina-Émilie Le Roux    554
Date_Devoir   14899    152             2025-07-02    128
Date_Examen   14899     31             2025-11-16    530
Session       14899      2             Principale  12723